*{  /*Comentario: Reiniciar el estilo de todos los elementos para editar.*/
    box-sizing: border-box; /*El relleno y el borde esten incluidos en el ancho y largo.*/
    font-family: 'Franklin Gothic Medium', Arial; /*Fuente por defeto para el texto*/
    text-align: center; /*El titulo de nuestro sitio este al medio por defecto*/
}

body{
    margin: 0; /*Elimina los Margenes*/
    height: 100vh; /*Definir la Altura completa de la ventana del navegador*/
    display: flex; /*Mantener Centrado los elementos*/
    align-items: center; /*Alineasción de los elementos horisontalmente*/
    justify-content: center;
    background:rgb(79, 106, 179);

}

h1{
    color:rgb(52, 161, 67);
    margin-bottom: 1rem;
}

button{
    background: rgb(211, 211, 211);
    border: none;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 4px 4px 10px #302f2f, -4px -4px 10px #fff;
    transition: all 0.2s , transform 0.1s ;
    cursor: pointer;
}

button:hover{ /*Pasat cursor por encima de un boton*/
    background-color: rgb(201, 187, 187);
    transform: scale(1.05);
    color: rgb(0, 0, 0);
}
button:active{
    box-shadow: inset 2px 2px 6px #474444,-2px -2px, 6px #fff;
    transform: scale(0.95);
}

.calculadora{
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0,0,0.2);
    padding: 1.5rem;
    display: flex;
    flex-direction: column; /*Organizar los elementos en columnas*/
    gap: 1rem;
    width: 90%;
    max-width: 320px;
}

.display{
    background: #e8f3f3;
    border-radius: 20px;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    color: black;
    box-shadow: inset 0 2px 5px rgba(0, 0,0,0,0.1);
    transition: all 0.2s;
}
.button{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 0.7rem;
}

.equal{
    grid-column: span 2;
    border-radius: 30px;
    background: rgb(194, 206, 31);
    color: white;
}