* { /*Reiniciar el estilo de todos los elementos para evitar inconsistencias entre navegadores*/
    box-sizing: border-box; /*Garantizar que el relleno y el borde estén incluidos en el ancho y largo  del elemento*/
    font-family: 'Segoe UI', sans-serif; /*Fuente por defecto para el texto*/
    text-align: center; /*Alinea el texto al centro por defecto*/
}

h1 {
    color: rgba(15, 144, 68, 0.584); /*Color del texto del título*/
    margin-bottom: 1rem; /*Espacio debajo del título*/
}

body {
    margin: 0; /*Eliminar el margen por defecto del body*/
    height: 100vh; /*Altura completa del navegador, 100vh significa que el cuerpo ocupa el 100% de la altura de la ventana del navegador*/
    display: flex; /*Utilizar el flex para centrar el contenido*/
    align-items: center; /*Alinear los elementos verticalmente al centro*/
    justify-content: center; /*Alinear los elementos horizontalmente al centro*/
    background: rgba(147, 211, 217, 0.396); /*Color del fondo del body*/
}

button {
    background: #f2f3f7; /*Definir el color de fondo de  los botones*/
    border: none;
    border-radius: 50%;
    padding: 1rem; /*Espaciado interno para los botones*/
    font-size: 1.1rem;
    font-weight: bold; /*Negrita para el texto de los botones*/
    color: darkcyan;
    box-shadow: 4px 4px 10px #ccc, -4px -4px 10px #fff; /*Aplicamos sombras a los botones*/
    transition: all 0.2s, transform 0.1s; /*Transición suave para observar los cambios de estilos*/
    cursor: pointer; /*Cambiar el cursor a puntero al pasar sobre los botones*/
}

button:hover { /*Efecto al pasar con el cursor sobre los botones*/
    /*box-shadow: inset 2px 2px 6px #bbb, inset -2px -2px 6px #fff;*/
    background-color: #e0e0e0;
    transform: scale(1.05);
}
 
.calculadora {
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    display: flex;
    flex-direction: column; /*Organizar los elementos en columnas*/
    gap: 1rem; /*Espacio entre los elementos internos*/
    width: 90%;
    max-width: 320px;
}

.display {
    background: #e8f3f3;
    border-radius: 20px;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0,0,0, 0.1);
    transition: all 0.2s;
}

.buttons {
    display: grid; /*Organizar en tabla los botones*/
    grid-template-columns: repeat(4, 1fr); /*Crear una cuadricula con 4 columnas de igual tamaño*/
    gap: 0.7rem;/*Espacio entre los botones*/
}

.igual {
    grid-column: span 2;
    border-radius: 30px;
    background: rgb(120,221,186);
    color: white;
}